@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Bold"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: SegoeUI-semilight;
    src:
        local("Segoe UI Semilight"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: comicsans;
    src: url('fonts/ComicSans.ttf');
}




body {
    background: linear-gradient(to bottom, #4882CA, #F8FCFF);
    min-height: 105.6vh;
    margin: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
}



.arimo-font {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600px;
  font-style: lighter;
}

.Box {
    padding: 0;
    display: flex;
    position: absolute;
    justify-content: ce;
    color: white;
    list-style-type: none;
    height: 1036px;
    margin: 0 auto;
    width: 920px;
    background: #E5F1FD;
    margin-left: 25.3%;
    margin-top: -150px;
    z-index: -1;
    border: 10px solid #DDDDDD;
    border-bottom: 0px;
}

.navbar ul{
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    color: white;
    list-style-type: none;
    height: 30px;
    margin-top: auto;
    margin: 0px;
    width: 897px;
    margin-left: 26.5%;
    align-items: center;
  
    background-color: #6E99C8;
}

.navbar li {
  display: contents;
}

li + li::before {
  content: '|';
  margin-top: -13px;
  font-size: 25px;
}

.novlog{
    width: 11%;
    height: auto;
}

.navbar a{
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
    text-align: center;
    font-family: "Arimo", sans-serif;
    font-weight: 400px;
    font-size: 20px;
    margin-top: -14px;
}

.navbartop{
    text-decoration: none;
    color: white;
    padding: 31px;
    display: flex;
    text-align: left;
    height: 10px;
    position: center;
    width: 835px;
    margin-left: 26.5%;
    background-image: url("2010robloxbanner.png");
}

.navbartop img{
    display: flex;
    margin-top: -15px;
    margin-left: 70px;
    height: 40px;
    width: 170px;
    opacity: 0%;
}

.navbartop a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 15px;
    display: block;
    text-align: right;
    font-family: Arial;
    font-weight: 600;
    margin-top: -15px;
    margin-left: -260px;
}

body{
    margin: 0;
}

.blackbar {
    padding: 0;
    display: flex;
    justify-content: left;
    color: white;
    list-style-type: none;
    height: 30px;
    margin: 0 auto;
    width: 894px;
    background: #6E99C9;
    margin-top: 100px;
    margin-left: 26.5%;
}

.blackbar h1{
    margin-top: 4px;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    margin-left: 10px;
    font-size: 20px;
}

.mainblackbarcontent {
    padding: 0;
    display: flex;
    justify-content: left;
    color: white;
    list-style-type: none;
    margin-left: 26.5%;
    width: 890px;
    background: white;
    border-color: #6E99C9;
    border-style: solid;
    border-width: 2px;
    text-align: justify;
    flex-direction: row;
    flex-wrap: wrap;
    height: flex;
}

.mainblackbarcontent h1{
    margin-top: 5px;
    font-family: Arial;
    margin-left: 10px;
}

.slash {
    border-style: dashed;
    border-color: #AAAAAA;
    border-width: 2px;
    margin-top: 1%;
    margin-left: 2%;
    margin-bottom: 1%;
    width: 26%;
}

.mainblackbarcontent a {
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    color: black;
    margin-left: 1%;
    white-space: wrap;
    align-content: center;
    font-size: 15px;
}

.mainblackbarcontent h1 {
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    margin-left: 1%;
    white-space: normal;
}

.mainblackbarcontent b {
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    margin-left: 1%;
    white-space: normal;
}

.mainblackbarcontent h5 {
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    margin-left: 1%;
    white-space: normal;
    font-weight: lighter;
}

.mainblackbarcontent input {
    margin-top: 18px;
    margin-left: 20px;
}


.servers {
    padding: 0;
    display: flex;
    justify-content: center;
    color: white;
    list-style-type: none;
    height: 50%;
    margin-left: 20px;
    cursor: pointer;
    width: 200px;
}

.servers img{
    height: 100px;
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-left: -0.5%;
    object-fit: cover;
    border: black 1px solid;
}

.servers h4{
    display: block;
    margin: 0 auto;
    color: #0000FF;
}

.servers h5{
    display: block;
    margin: 0 auto;
    white-space: initial;
}

.game {
    position: relative;
    padding: 0;
    display: flex;
    justify-content: flex;
    color: transparent;
    list-style-type: none;
    margin-right: 0 auto;
    width: 788px;
    height: 30px;
    border-style: solid;
    border-width: 2px;
    text-align: justify;
    border-color: transparent;
    margin-top: 30px;
}

.game h1 {
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    color: black;
    white-space: normal;
    word-wrap: break-word;
    text-align: start;
    margin-top: 3px;
}

.game a {
    font-family:  SegoeUI;
    color: black;
    white-space: normal;
}

.game img {
    height: 281px;
    width: 500px;
    display: block;
    margin: 0 auto;
    margin-left: -0.5%;
    object-fit: cover;
    margin-top: 25px;
}

.game hr {
    opacity: 0;
}

.game2 {
    padding: 0;
    justify-content: center;
    color: white;
    width: 250px;
    border-style: solid;
    border-width: 2px;
    margin-left: 540px;
    margin-top: 35px;
    text-align: justify;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px dashed #555555;
    border-bottom: transparent;
}

.game2 hr{
    opacity: 0;
}

.game2 a{
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    white-space: normal;
    font-size: small;
    margin-left: 5px;
}

.game2 p{
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    white-space: normal;
    margin-top: auto;
    font-size: small;
    margin: 0;
    margin-left: 5px;
}

.game2 hr{
    content: " ";
    display: none;
}

.game2 br {
    content: " ";
    display: none;
}

.sudo {
    display: absolute;
    justify-content: left;
    color: transparent;
    list-style-type: none;
    margin: 0 auto;
    width: 40%;
    border-style: solid;
    border-width: 2px;
    text-align: justify;
    margin-left: 30%;
    border-color: transparent;
}

.play {
    position: absolute;
    background-image: url("assets/Play.png");
    cursor:pointer;
    border:none;
    width:250px;
    height:48px;
    margin-top: 300px;
    margin-left: -544px;
    color: transparent;
}



.sudo h2{
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    white-space: normal;
    margin-top: auto;
    margin-top: -160px;
    margin-left: 545px;
    font-weight: normal;
    font-size: 13px;
    margin: 5px;
}

.sudo a{
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    white-space: normal;
    margin-top: auto;
}

.border {
    margin-left: 540px;
    margin-top: -3px;
    width: 250px;
    border: 1px dashed #555;
    border-top: none;
}


.serverinfobar {
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    height: 30px;
    margin: 0 auto;
    width: 894px;
    background: #6E99C9;
    margin-top: 60px;
    margin-left: -71px;
}

.serverinfobar h1 {
    font-size: 20px;
    color: white;
    margin-top: 0px;
}

.serverinfobox {
    padding: 0;
    display: flex;
    position: absolute;
    justify-content: left;
    color: white;
    list-style-type: none;
    height: 600px;
    margin: 0 auto;
    width: 890px;
    background: #ffffff;
    margin-left: -71px;
    margin-top: 0px;
    z-index: -1;
    border: 2px solid #6E99C9;
    
}


.info2 a{
    font-size: 100%;
    width: 20px;
    color: black;
    padding: 10px;
}

.info2 h2{
    font-size: 100%;
    width: 20px;
    font-weight: lighter;
    margin-left: 5px;
    color: black
}

.hr-remove {
    display: none
}

.desc {
    border: 1px #555555 solid;
    width: 230px;
    margin-left: 545px;
    margin-top: -100px;
    padding: 5px;
    font-size: 12px;
    margin: 5px;
}


/* MOVES THE DESC THING */
.hrstyle {
    display: none
}

.theme {
    padding: 0;
    display: flex;
    justify-content: left;
    color: white;
    list-style-type: none;
    height: 30px;
    margin: 0 auto;
    width: 96.2%;
    background: #6E99C9;
    margin-top: 100px;
    margin-left: 20px;
    margin-top: 10px
}

.theme a {
    color: white
}

.maintheme {
    padding: 0;
    display: block;
    justify-content: left;
    color: white;
    list-style-type: none;
    margin: 0 auto;
    width: 95.7%;
    background: white;
    border-color: #6E99C9;
    border-style: solid;
    border-width: 2px;
    text-align: justify;
    flex-direction: row;
    flex-wrap: wrap;
    height: flex;
    margin-left: 20px;
}

.maintheme a {
    color: black;
    margin-left: 1%;
    white-space: wrap;
    align-content: center;
    text-overflow: ellipsis;
}

.maintheme p {
    color: black;
    margin-left: 1%;
    white-space: wrap;
    align-content: center;
    text-overflow: ellipsis;
    font-size: small;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.maintheme img {
    width: 20%;
    margin-left: 65%;
    margin-top: -5%;
}

#section {
    width: 100%;
}



